<aside>
	<div class="panel radius">
		<h3>Read More</h3>
		<p>
			<ul class="side-nav">
				{% assign category = include.category %}
				{% assign tag = include.tag %}
				<ul class="side-nav">

				  {% if category == NULL and tag == NULL %}

				    {% for post in site.posts limit:include.entries offset:include.offset %}
				      <li><a href="{{ site.url }}{{ post.url }}">{% if post.subheadline %}{{ post.subheadline }} &middot; {% endif %}<strong>{{ post.title }}</strong></a></li>
				    {% endfor %}
				      <li class="text-right"><a href="{{ site.url }}/blog/archive/"><strong>{{ site.data.language.more }}</strong></a></li>


				  {% elsif category %}

				    {% for post in site.categories.[category] limit:include.entries offset:include.offset %}
				      <li><a href="{{ site.url }}{{ post.url }}">{% if post.subheadline %}{{ post.subheadline }} &middot; {% endif %}<strong>{{ post.title }}</strong></a></li>
				    {% endfor %}
				      <li class="text-right"><a href="{{ site.url }}/blog/archive/"><strong>{{ site.data.language.more }}</strong></a></li>


				  {% elsif tag %}

				    {% for post in site.tags.[tag] limit:include.entries %}
				      <li><a href="{{ site.url }}{{ post.url }}">{% if post.subheadline %}{{ post.subheadline }} &middot; {% endif %}<strong>{{ post.title }}</strong></a></li>
				    {% endfor %}

				  {% endif %}
				</ul>
		</p>
	</div>
</aside>
